<% if !current_user.id.eql? msg.sender_id %>
  <div class="d-flex justify-content-start mb-4">
    <div class="img_cont_msg">
      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
    </div>
    <div class="msg_cotainer">
      <%= msg.message %>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-end mb-4">
    <div class="msg_cotainer_send">
      <%= msg.message %>
    </div>
    <div class="img_cont_msg">
      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
    </div>
  </div>
<% end %>
