<li class="<%= "active" if user.id.eql? request.url.slice(30).to_i %>">
  <%= link_to show_messages_path user.id do %>
    <div class="d-flex bd-highlight">
      <div class="img_cont">
        <%= image_tag "https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg", class: "rounded-circle user_img" %>
        <span class="online_icon"></span>
      </div>
      <div class="user_info">
        <span><%= user.email %></span>
        <p>Online</p>
      </div>
    </div>
  <% end %>
</li>
