<%= render "users" %>
<div class="col-md-8 col-xl-6 chat">
  <div class="card">
    <div class="card-header msg_head">
      <div class="d-flex bd-highlight">
        <div class="img_cont">
          <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
          <span class="online_icon"></span>
        </div>
        <div class="user_info">
          <span><%= @partner_user.email %></span>
        </div>
      </div>
    </div>
    <div class="card-body msg_card_body">
      <%= render partial: "message", collection: @messages, as: :msg %>
    </div>
    <%= render "form" %>
  </div>
</div>
